<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org=
/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width" />

    <title>GOVUK</title>

    <style>
        @media only screen and (min-device-width: 581px) {
            .content {
                width: 580px !important;
            }
        }
        body { margin:0 !important; }
        div[style*="margin: 16px 0"] { margin:0 !important; }
    </style>

    <!--[if gte mso 9]>
    <style>
        li {
            text-indent: -1em;
        }
    </style>
    <![endif]-->

</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c;">
<h2>Service request for DfE Sign-in</h2>
<table>
    <tr>
        <td>Name</td>
        <td><%=name%></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><a href="mailto:<%=email%>?subject=DfE Sign-in service desk request"><%=email%></a></td>
    </tr>

    <% if (orgName) { %>
    <tr>
        <td>Organisation name</td>
        <td><%=orgName%></td>
    </tr>
    <% } %>

    <% if (urn) { %>
    <tr>
        <td>URN</td>
        <td><%=urn%></td>
    </tr>
    <% } %>

    <tr>
        <td>Service</td>
        <td><%=service%></td>
    </tr>

    <tr>
        <td>Type of issue</td>
        <td><%=type%></td>
    </tr>

    <% if (typeAdditionalInfo) { %>
    <tr>
        <td>Additional details</td>
        <td><%=typeAdditionalInfo%></td>
    </tr>
    <%=typeAdditionalInfo%>
    <% } %>

    <tr>
        <td>Request details</td>
        <td><%=message%></td>
    </tr>
</table>
</body>
</html>
